<div class="row launch-countdown">
  <%= @time_left.days %> Days <%= @time_left.hours %> Hours <%= @time_left.minutes %> Mins <%= @time_left.secs %> Secs To Go!
</div>

<div class="row invitation-text">
  <p>
    We invite you to sign up for membership at CartStash. We promise to bring you a wide range of local and imported products to choose from
    at a very affordable cost (even cheaper than your local grocery stores). Not only that, because we value your time, we also promise to deliver
    your order within a 2 hour window of the time you have chosen. If we fail to live up to these promises, we will refund your membership fee.
    No questions ask.
  </p>
  <p>
    What are you waiting for? Sign up now and get to enjoy worry free grocery shopping right at your fingertips.
  </p>
</div>

<div class="row signup-btn-row">
  <%= link_to image_tag('images/sign-up-btn.png', alt:  "Sign Up"), new_user_registration_path %>
</div>

<div class="row cs-description">
  <p>
    CartStash is a Philippine-based startup company looking to change the way you do your grocery shopping.
    Shop from the comfort of your home, spend your precious time with your loved ones, leave the packing and heavy
    lifting to us and expect us to come knocking at your door within four hours of receiving your order*.
  </p>
</div>