<div class="main">
  <%= render layout: 'layouts/accounts_sidebar' do %>
      <div class="row edit-delivery-address-header">
        <div class="col-md-12 header-title">
          Edit Delivery Address
        </div>
      </div>

      <div class="row new-delivery-address-form col-md-6">
        <%= form_for @delivery_address, url: delivery_address_path(id: @delivery_address.id), method: 'put'  do |f| %>
            <%= f.hidden_field :location_coords %>
            <%= hidden_field_tag 'current_user_name', current_user.full_name %>
            <%= form_error_messages! @delivery_address %>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <%= check_box_tag 'same_recipient', 'same_recipient',
                                    { checked: same_as_recipient?(@delivery_address),
                                      class: 'edit-delivery-addr-same-recipient' } %> I am the recipient
                </label>
              </div>
            </div>
            <div class="form-group">
              <%= f.text_field :recipient_name, { class: 'form-control', placeholder: 'Recipient\'s name', readonly: same_as_recipient?(@delivery_address)} %>
            </div>
            <div class="form-group">
              <%= f.text_field :contact_no, class: 'form-control', placeholder: 'Contact no. (e.g. +639178888888)' %>
            </div>
            <div class="form-group">
              <%= f.text_field :address_line_1, class: 'form-control', placeholder: 'Address Line 1' %>
            </div>
            <div class="form-group">
              <%= f.text_field :address_line_2, class: 'form-control', placeholder: 'Address Line 2' %>
            </div>
            <div class="form-group col-md-4 no-pad-left">
              <%= f.text_field :zip_code, class: 'form-control', placeholder: 'Zip code' %>
            </div>
            <div class="form-group col-md-8 no-pad-right">
              <%= f.select :country,
                               options_for_select(@countries.collect {|c| [ c['name'], c['short_name'] ]},
                                                  @delivery_address.country.nil? ? 'PH' : @delivery_address.country),
                               {:include_blank => false},
                               {:class => 'form-control'}
                  %>
            </div>
             <div class="form-group">
              <div class="col-md-12 col-xs-12 no-pad-left">
                Drop a pin on your location
                <div class="map" id="geolocation"></div>
              </div>
            </div>
            <div class="form-group action-btn-group">
              <%= f.submit "Save", class: "btn save-delivery-address-btn"%>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAbFH5JHChuqLwHNad_ypoJZCqd49kP6Lw"></script>