<% @cart.item_map.each do |key, value| %>
    <div class="row cart-item" id="summary-<%= value.sku %>">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-2 col-xs-2"><%= image_tag value.image_front, size: '50x65' %></div>
        <div class="col-md-3 col-xs-3">Price:
          <div><%= number_to_currency value.price, unit: "Php ", precision: 2 %></div>
        </div>
        <div class="col-md-2 col-xs-2">Qty:
          <div class="qty"><%= value.quantity %></div>
        </div>
        <div class="col-md-1 col-xs-1">
          <div>
            <%= link_to '<span class="glyphicon glyphicon-triangle-top qty-arrow" aria-hidden="true"></span>'.html_safe, update_cart_path(sku: value.sku, q: 'add'), class: 'add-item', method: :put, remote: true %>
          </div>
          <div>
            <%= link_to '<span class="glyphicon glyphicon-triangle-bottom qty-arrow" aria-hidden="true"></span>'.html_safe, update_cart_path(sku: value.sku, q: 'reduce'), class: 'reduce-item', method: :put, remote: true %>
          </div>
        </div>
        <div class="col-md-3 col-xs-3 sub-total">Sub-Total:
          <div><%= number_to_currency value.total_price, unit: 'Php ', precision: 2 %></div>
        </div>
        <div class="col-md-1 col-xs-1">
          <%= link_to '', update_cart_path(sku: value.sku, q: 'remove'), class: 'remove-item', method: :put, remote: true %>
        </div>
      </div>
      <div class="col-md-12 col-xs-12">
        <%= value.name %>
      </div>
    </div>
<% end %>

<% if @cart.unique_items == 0 %>
    <div class="row cart-item">
      <div class="col-md-12 col-xs-12">Cart is empty. Nothing to display.</div>
    </div>
<% end %>

<hr/>
<div class="col-md-12 col-xs-12 checkout-btn-container">
  <% unless signed_in? %>
      <%= link_to '', ajax_signin_path(ret_url: '/shop/checkout'), class: 'checkout-btn', remote: true %>
  <% else %>
      <%= link_to '', orders_selectdeliveryaddress_path, class: 'checkout-btn' %>
  <% end %>

</div>