<div class="main">
  <div class="line-items">
    <div class="row">
      <div class="col-md-12 tx-summary">Transaction Summary</div>
    </div>
    <div class="row costing-info">
      <div class="col-md-5 total-cost">Total Cost:</div>
      <div class="col-md-7 total-cost"><%= @cart.nil? ? "Php 0.00" : number_to_currency(@cart.price, unit: 'Php ')%></div>
    </div>
    <div class="row checkout-row">
      <div class="col-md-5"></div>
      <div class="col-md-7">
        <%= button_to 'Checkout', '#', class: "btn checkout-btn" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 tx-summary">Items List</div>
    </div>

    <% unless @cart.nil? %>
        <% @cart.item_map.each do |sku, purchased_item| %>
            <div class="line-item">
              <div class="row">
                <div class="col-md-12 item-desc">
                  <%= purchased_item.name.length > 30 ? purchased_item.name[0..30] : purchased_item.name %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 item-desc form-group">
                  <%= text_field(:order, :qty, {:class => "form-control input-sm item-qty", :value => purchased_item.quantity, :sku => sku, :id => sku}) %>
                </div>
                <div class="col-md-8 item-desc">
                  <%= "Price: #{number_to_currency(purchased_item.total_price, unit: 'Php ')}" %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>