<div class="main">
  <%= form_tag confirm_order_path, method: 'post' do %>
      <%= hidden_field_tag :delivery_address %>
      <%= hidden_field_tag :delivery_schedule %>
      <%= form_error_messages! @checkout_form %>

      <div class="row delivery-address-header">
        <div class="col-md-10 checkout-section-header">
          Choose Delivery Address
        </div>
        <div class="col-md-2 add-address-link">
          <%= link_to 'Add Delivery Address', new_delivery_address_path %>
        </div>
      </div>

      <div class="row">
        <% @delivery_addresses.each do |address| %>
            <div class="col-md-3 del-address" del-id="<%= "#{address.id}" %>">
              <div class="del-name">
                <%= "#{address.recipient_name}" %>

              </div>
              <div class="del-addr">
                <%= "#{address.address}" %>
              </div>
              <div class="primary-num">
                <%= "#{address.contact_no}" %>
              </div>
              <div class="alt-num">
                <%= "#{address.alternate_no}" %>
              </div>
            </div>
        <% end %>
      </div>

      <div class="row delivery-schedule-section">
        <div class="col-md-12 header">
          Choose Delivery Schedule
        </div>
        <div class="schedule-picker">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 no-pad-right">
          <div class="pull-right">
            <%= link_to image_tag('images/chkout-back.png', alt: "Back"), checkout_index_path %>
            <%= button_tag "Place Order", {class: "btn confirm-order-btn"} %>
          </div>
        </div>
      </div>
  <% end %>


</div>