<div class="main">
  <div class="row">
    <div class="col-md-10 review-order">
      Review Order
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 no-pad-left review-order-table">
      <table class="table review-order-table">
        <thead>
        <tr>
          <td>Item No</td>
          <td>Description</td>
          <td>Unit</td>
          <td class="text-right">Price</td>
          <td class="text-right">Quantity</td>
          <td class="text-right">Sub-Total</td>
        </tr>
        </thead>
        <tbody>
        <% unless @cart.nil? %>
            <% @cart.item_map.each do |sku, purchased_item| %>
                <tr>
                  <td><%= purchased_item.sku %></td>
                  <td><%= purchased_item.name %></td>
                  <td><%= purchased_item.uom.nil? ? "-" : purchased_item.uom %></td>
                  <td class="text-right"><%= number_to_currency(purchased_item.price, unit: 'Php ') %></td>
                  <td class="text-right"><%= purchased_item.quantity %></td>
                  <td class="text-right"><%= number_to_currency(purchased_item.total_price, unit: 'Php ') %></td>
                </tr>
            <% end %>
            <!-- total price  -->
            <tr class="total-price-row">
              <td colspan="5"></td>
              <td class="text-right">Total
                <span class="total-price"><%= number_to_currency(@cart.sub_total, unit: 'Php ') %></span></td>
            </tr>

        <% else %>
            <tr>
              <td colspan="6">
                No line items to display
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= form_tag delivery_and_schedule_path, method: 'post' do |f| %>
        <div class="col-md-4">
          <div class="row pm-header-label">
            <div class="col-md-7 pm-choose-label no-pad-left">
              Choose Payment Method
            </div>
            <div class="col-md-5 pm-add-label no-pad-right">
              Add Payment Method
            </div>
          </div>
          <div class="row pm-options">

            <div class="col-md-12">
              <% unless @payment_methods.nil? %>
                  <% @payment_methods.each do |method| %>
                      <div class="row">
                        <div class="col-md-12 no-pad-left">
                          <div class="checkbox payment-method-checkbox">
                            <label>
                              <%= check_box_tag :payment_method, method.id, false, {class: 'checkbox pm-checkbox'} %> <%= "#{method.credit_card_type.upcase} #{method.masked_credit_card}" %>
                            </label>
                          </div>
                        </div>
                      </div>
                  <% end %>
              <% end %>
              <div class="row">
                <div class="col-md-12 no-pad-left">
                  <div class="checkbox payment-method-checkbox">
                    <label>
                      <%= check_box_tag :payment_method, 'COD', false, {class: 'checkbox pm-checkbox'} %> Cash on
                      delivery
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-3">
          <div class="pull-right">
            <%= link_to image_tag('images/chkout-back.png', alt: "Back"), shop_index_path %>
            <%= submit_tag 'Next', {class: 'btn sched-deliver-btn', id: 'checkout-next-btn'} %>
          </div>
        </div>
    <% end %>
  </div>
</div>