<%= render layout: 'layouts/categories_sidebar' do %>
  <div class="col-md-9">
    <div class="section-header">
      <h4>Order Summary</h4>
    </div>

    <table class="table order-summary-table">
      <thead>
        <tr>
          <th>Item No</th>
          <th>Description</th>
          <th>Unit</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Sub-Total</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <% @cart.item_map.each do |key, value| %>
        <tr id="tr_<%= value.sku %>">
          <td><%= value.sku %></td>
          <td><%= value.name %></td>
          <td><%= value.uom %></td>
          <td><%= number_to_currency value.price, unit: "$ ", precision: 2 %></td>
          <td><%= value.quantity %></td>
          <td><%= number_to_currency value.total_price, unit: "$ ", precision: 2 %></td>
          <td><%= link_to '', update_cart_path(sku: value.sku, q: 'remove'), class: 'remove-item', method: :put, remote: true %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
  </div>
<% end %>
