<div class="col-md-5 col-xs-6 panel panel-default delivery-address-option" data="<%= @address.id %>">
  <div class="panel-heading col-md-10 col-xs-10">
    <%= image_tag "address-icon-28.png", size: "16x18" %>
    <%= @address.recipient_name %>
  </div>
  <div class="panel-heading col-md-2 col-xs-2 edit-action">
    <%= link_to "#", { class: "edit-address", remote: true} do %>
        <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </div>

  <div class="panel-body address-details">
    <%= @address.full_address %>
  </div>
</div>