<%= render layout: 'layouts/categories_sidebar' do %>
    <div class="col-md-10">
      <%= image_tag "checkout_stage_1.png" %>
      <div class="row margin-top-15">
        <div class="col-md-9 col-xs-12 centered">
          <span class="delivery-address-title">Select Delivery Address</span>
        </div>
        <div class="col-md-3 col-xs-4">
          <%= button_tag class: "btn btn-checkout-primary" do %>
              <span>Next</span> <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </div>
      </div>
      <%= form_for :selected_address, html: { url: orders_selectdeliveryschedule_path, method: :post,  role: "form" } do |f| %>
          <%= f.hidden_field :delivery_address %>

          <div class="row address-choices-row">
            <% @addresses.each do |address| %>
                    <div class="col-md-5 col-xs-11 panel panel-default delivery-address-option" data="<%= address.id %>">
                      <div class="panel-heading col-md-10 col-xs-10">
                        <%= image_tag "address-icon-28.png", size: "16x18" %>
                        <%= address.recipient_name %>
                      </div>
                      <div class="panel-heading col-md-2 col-xs-2 edit-action">
                        <%= link_to "#", { class: "edit-address", remote: true} do %>
                            <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
                      </div>

                      <div class="panel-body address-details">
                        <%= address.full_address %>
                      </div>
                    </div>
            <% end %>


            <%= link_to "#", {class: "add-delivery-address-link"} do %>
                <div class="col-md-5 col-xs-11 add-new-delivery-address <%= "margin10px" if @addresses.length % 2 == 0 %>">
                  <%= image_tag "newaddressicon.png" %>
                  <span>ADD NEW ADDRESS</span>
                </div>
            <% end %>
          </div>

          <div class="row address-choices-row">
            <div class="col-md-5 just-for-this-delivery">
              <span>JUST FOR THIS DELIVERY</span>
            </div>
            <div class="col-md-5 delivery-address-addtl-details">
              <div class="form-group">
                <label for="contactno">CONTACT NUMBER: <span class="required">*</span></label>
                <%= f.text_field :contact_number, { class: "form-control" } %>
              </div>
              <div class="form-group">
                <label for="instruction">SPECIAL INSTRUCTION: </label>
                <%= f.text_area :delivery_instruction, { class: "form-control", placeholder: "Please give me a call once you arrive" } %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-offset-9 col-md-3 col-xs-4">
              <%= button_tag class: "btn btn-checkout-primary" do %>
                  <span>Next</span> <span class="glyphicon glyphicon-chevron-right"></span>
              <% end %>
            </div>
          </div>

          </div>
      <% end %>
      <div id="addNewAddress">
        <%= form_for @delivery_address, url: users_deliveryaddress_path, method: :post, remote: true do |f| %>

            <div class="col-md-12">
              <div class="form-group">
                <%= f.text_field :recipient_name, { class: "form-control", placeholder: "Recipient's name" } %>
              </div>

              <div class="form-group">
                <%= f.text_field :address_line_1, { class: "form-control", placeholder: "Address Line 1" } %>
              </div>

              <div class="form-group">
                <%= f.text_field :address_line_2, { class: "form-control", placeholder: "Address Line 2" } %>
              </div>

              <div class="form-group">
                <%= f.text_field :city, { class: "form-control", placeholder: "City", value: "Iloilo" } %>
              </div>

              <div class="form-group">
                <%= f.text_field :zip_code, { class: "form-control", placeholder: "Zip Code", value: "5000" } %>
              </div>

              <div class="form-group">
                <%= f.select :country,
                             options_for_select(@countries.collect {|c| [ c['name'], c['short_name'] ]}, 'PH'),
                             {:include_blank => false},
                             {:class => 'form-control'}
                %>
              </div>
            </div>
            <div class="col-md-12 col-md-offset-6">
              <%= link_to '#', { class: "cancel" } do %>
                <span>Cancel</span>
              <% end %>
              <%= button_tag class: "btn btn-checkout-primary" do %>
                  <span>Create</span>
              <% end %>
            </div>
        <% end %>
      </div>

      <div class="col-md-2">

      </div>

<% end %>