<div class="sign-in-forms">
  <div class="row">
      <div class="col-md-2 col-xs-12">
      </div>
      <div class="col-md-4 col-xs-12">
        <h1>Log In</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'reg-form') do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
          </div>
           <div class="form-group">
              <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off' %>
          </div>
           <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="checkbox">
                <label>
                <%= f.check_box :remember_me, class: 'checkbox' %>
                Remember me
                </label>
              </div>
            </div>
          <% end -%>
           <div class="form-group">
              <%= f.submit 'Log in', class: 'btn' %>
            </div>
            <%= render "users/shared/links" %>
        <% end %>
      </div>
      <div class="col-md-1 col-xs-12">
        <div class="reg-margin-top centered">- OR -</div>
      </div>
      <div class="col-md-4 col-xs-12 social-signin-btns">
        <div class="social-signin">
          <%= link_to image_tag('images/login-facebook.png', alt:  "Facebook Login"), omniauth_authorize_path(resource_name, :facebook) %>
        </div>
        <div class="social-signin">
          <%= link_to image_tag('images/login-twitter.png', alt:  "Twitter Login"), omniauth_authorize_path(resource_name, :twitter) %>
        </div>
      </div>
      <div class="col-md-1 col-xs-12">
      </div>
  </div>
</div>


