<%= render layout: 'layouts/categories_sidebar' do %>
    <div class="col-md-10">
      <% @products.each do |product| %>
          <div class="row product-choices-row">
            <div class="category-header">
              <h4><%= product[:name] %></h4>
            </div>
            <div class="see-all">
              <%= link_to 'See All', product_category_path(:category => product[:slug]) %>
            </div>
          </div>
          <div class="row item-row">
            <% if product[:products].empty? %>
                <div>No product to display.</div>
            <% else %>
                <% product[:products].each do |item| %>
                    <div class="col-md-3 col-xs-5 product-item">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                              <%= image_tag item[:image_front] %>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <span data-toggle="tooltip" title="<%= item[:name] %>">
                              <%= (item[:name].length > 26) ? "#{item[:name][0..26]}..." : item[:name] %>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                            <div class="order-qty col-md-3 col-xs-3" id="<%=item[:cs_sku]%>">
                              <%= @cart.order_qty(item[:cs_sku]) %>
                            </div>
                            <div class="col-md-3 col-xs-3 add2cart">
                              <%= button_to "#{number_to_currency item[:price], unit: 'Php '}", add2cart_path, form_class: 'add2cart',remote: true, form: { data: { type: 'json' } }, params: { sku: item[:cs_sku] } %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end%>
          </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Check out', checkout_index_path, class: 'btn btn-onpage-checkout' %>
    </div>
<% end %>