<%= render layout: 'layouts/categories_sidebar' do %>
    <div class="col-md-10">
      <% @products.each do |product| %>
          <div class="row product-choices-row">
            <div class="category-header">
              <h4><%= product[:category] %></h4>
            </div>
            <div class="see-all">
              <%= link_to 'See All', product_category_path(:category => product[:slug]) %>
            </div>
          </div>
          <div class="row item-row">
            <% if product[:products].empty? %>
                <div>No product to display.</div>
            <% else %>
                <% product[:products].each do |item| %>
                    <div class="col-md-3 col-xs-5 product-item">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                              <%= image_tag item[:image_front] %>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <%= item[:name] %>
                          </div>
                        </div>
                        <div class="row">
                            <div class="order-qty col-md-3 col-xs-3">1</div>
                            <div class="col-md-3 col-xs-3 add2cart">
                                <%= button_tag "#{number_to_currency item[:price], unit: '$ '}" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end%>
            <% print product[:products]%>
          </div>
      <% end %>
    </div>
<% end %>

