<div class="main">
  <%= render layout: 'layouts/accounts_sidebar' do %>
      <div class="row user-profile-header">
        <div class="col-md-12 header-title">
          Account Info
          <div class="pull-right">
            <%= link_to "Change Password", "#", class: "change-password-link", data: { toggle: 'modal', target: '#changePassword'} %>
          </div>
        </div>
      </div>
      <div class="row user-profile-form col-md-6">
        <%= form_for @user, url: user_profile_path(id: @user.id), method: "put" do |f| %>
            <%= form_error_messages! @user %>
            <div class="form-group">
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.select :gender,
                             options_for_select(["Male", "Female"], @user.gender),
                             {include_blank: true},
                             {class: "form-control"} %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <div class='input-group date' id='birthdate'>
                  <%= f.text_field :birthdate, value: date_to_string(@user.birthdate), class: 'form-control', placeholder: 'Birthdate', 'data-date-format' => 'mm/dd/yyyy' %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.text_field :address_line_1, class: 'form-control', placeholder: 'Address Line 1' %>
            </div>
            <div class="form-group">
              <%= f.text_field :address_line_2, class: 'form-control', placeholder: 'Address Line 2' %>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <%= f.text_field :zip, class: 'form-control', placeholder: 'Zip Code' %>
              </div>
              <div class="form-group col-md-8">
                <%= f.select :country,
                             options_for_select(@countries.collect { |c| [c['name'], c['short_name']] }, "#{@user.country.nil? ? 'PH' : @user.country}" ),
                             {:include_blank => false},
                             {:class => 'form-control'}
                %>
              </div>

                <div class="form-group action-btn-group">
                  <%= f.submit "Save", class: "btn save-account-info" %>
                </div>

            </div>
        <% end %>
      </div>
  <% end %>
</div>

<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

