<div class="main">
  <%= render layout: 'layouts/accounts_sidebar' do %>
      <div class="row user-profile-header">
        <div class="col-md-12 header-title">
          Account Info
          <div class="pull-right">
            <%= link_to "Change Password", "#", class: "change-password-link"%>
          </div>
        </div>
      </div>
      <div class="row user-profile-form col-md-6">
        <%= form_for @user, url: user_profile_path(id: @user.id), method: "put" do |f| %>
            <%= form_error_messages! @user %>
            <div class="form-group">
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
            </div>
            <div class="form-group col-md-5 no-pad-left">
              <%= select_tag "gender",
                             options_for_select(["Select Gender", "Male", "Female"], @user.gender),
                             class: "form-control"
              %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>