<div class="main">
  <%= render layout: 'layouts/accounts_sidebar' do %>
      <div class="row user-profile-header">
        <div class="col-md-12 header-title">
          Account Info
          <div class="pull-right">
            <%= link_to "Change Password", "#", class: "change-password-link" %>
          </div>
        </div>
      </div>
      <div class="row user-profile-form col-md-6">
        <%= form_for @user, url: user_profile_path(id: @user.id), method: "put" do |f| %>
            <%= form_error_messages! @user %>
            <div class="form-group">
              <label for="first_name">First name</label>
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
            </div>
            <div class="form-group">
              <label for="last_name">Last name</label>
              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <%= f.select :gender,
                             options_for_select(["Male", "Female"], @user.gender),
                             {include_blank: true},
                             {class: "form-control"} %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="birthdate">Birthdate</label>
                <div class='input-group date' id='birthdate'>
                  <%= f.text_field :birthdate, value: date_to_string(@user.birthdate), class: 'form-control', placeholder: 'Birthdate', 'data-date-format' => 'mm/dd/yyyy' %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address_line_1">Address Line 1</label>
              <%= f.text_field :address_line_1, class: 'form-control', placeholder: 'Address Line 1' %>
            </div>
            <div class="form-group">
              <label for="address_line_2">Address Line 2</label>
              <%= f.text_field :address_line_2, class: 'form-control', placeholder: 'Address Line 2' %>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="zip">Zip Code</label>
                <%= f.text_field :zip, class: 'form-control', placeholder: 'Zip Code' %>
              </div>
              <div class="form-group col-md-8">
                <label for="country">Country</label>
                <%= f.select :country,
                             options_for_select(@countries.collect { |c| [c['name'], c['short_name']] }, "#{@user.country.nil? ? 'PH' : @user.country}"),
                             {:include_blank => false},
                             {:class => 'form-control'}
                %>
              </div>

              <div class="form-group action-btn-group">
                <%= f.submit "Save", class: "btn save-account-info" %>
              </div>

            </div>
        <% end %>
      </div>
  <% end %>
</div>
<div class="modal-holder">
  <%= render 'user_profile/changepassword' %>
</div>