<div class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="social-links col-md-2 col-sm-12">
        <%= link_to image_tag('images/footer-fb.png', alt: "CartStash on Facebook"), 'https://www.facebook.com/cartstashph' %>
        <%= link_to image_tag('images/footer-instagram.png', alt: "CartStash on Instagram"), 'https://www.instagram.com/cartstashph' %>
        <%= link_to image_tag('images/footer-twitter.png', alt: "CartStash on Twitter"), 'https://www.twitter.com/cartstashph' %>
      </div>
      <div class="col-md-10 col-sm-12">
        <div class="col-md-3 col-sm-12">
          <div class="info-links"><%= link_to 'Privacy', '#' %></div>
          <div class="info-links"><%= link_to 'Contact Us', '#' %></div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="info-links"><%= link_to 'About Us', '#' %></div>
          <div class="info-links"><%= link_to 'Investors', '#' %></div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="info-links"><%= link_to 'Press Releases', '#' %></div>
          <div class="info-links"><%= link_to 'Careers', '#' %></div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="info-links"><%= link_to 'Frequently Asked Questions', '#' %></div>
          <div class="info-links"><%= link_to 'Terms and Conditions', '#' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
