<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cartstash</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse" id="menu-collapse-1">
          <div class="cs-logo pull-left">
            <%= link_to image_tag("images/cs-white-orange-logo.png", alt: "CartStash Logo"), root_path %>
          </div>
          <% if current_user %>
          <div class="dropdown pull-right user-profile">
            <button class="btn user-info-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <%= "Welcome, #{current_user.first_name != nil ? current_user.first_name : current_user.email}" %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-list"></span> Orders</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-heart"></span> Wish List</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <%= link_to destroy_user_session_path, :method => 'delete' do %>
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="row prelaunch-flash-area">
        <% if !flash.empty? %>
              <!-- Flash message area -->
              <% flash.each do |key, value| %>
                  <%= content_tag :div, value, class: "row flash #{key}" %>
              <% end %>
        <% end %>
      </div>

      <%= yield %>
    </div>


    <%= render 'layouts/footer' %>
    </div>
</body>
</html>
