<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sales Order <%= @sales_order.transaction_ref[0..7] %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag('print', :media => :screen) %>
  <%= stylesheet_link_tag('print', :media => :print) %>
</head>
<body>
    <%= yield %>
</body>
</html>
