<section class="row mem-fee-msg">
    <div>
      Congratulations! Hang on, almost there. Please select your preferred payment method for your membership fee.
      You will be charged Php 999.99 for that, but we promise you will get it back through discounts and fuel savings
      in no time - If not, we will refund you. Simple as that.
    </div>
</section>
<section class="row mem-fee-form">
      <div class="col-md-5 pay-by-card-col">
        <%= form_for(:form, method: 'post', url: users_registrations_membership_path, class: 'reg-form') do |f| %>
            <%= form_error_messages! @form %>
            <div class="col-md-12">
              <div class="row">
                <div class="form-group">
                  <h4>Pay By Credit Card</h4>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <%=f.text_field :name, class: 'form-control', placeholder: 'Name as it appears on your card' %>
                </div>
              </div>
              <div class="row col-md-6 no-pad-left">
                <div class="form-group">
                  <%= f.select :card_type,
                               options_for_select(@cc_types.collect {|c| [ c['name'], c['name'] ]}),
                               {:include_blank => false},
                               {:class => 'form-control'}
                  %>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <%= f.text_field :credit_card_no, class: 'form-control', placeholder: 'Credit card number' %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 no-pad-left">
                  <%= f.text_field :security_code, class: 'form-control', placeholder: 'Security Code' %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 no-pad-left">
                  <%= f.text_field :expiry_date, class: 'form-control', placeholder: 'Expiry Date (mm/yyyy)' %>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <%= f.text_field :address_line_1, class: 'form-control', placeholder: 'Address Line 1' %>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <%= f.text_field :address_line_2, class: 'form-control', placeholder: 'Address Line 2' %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-5 no-pad-left">
                  <%= f.text_field :zip_code, class: 'form-control', placeholder: 'Zip Code' %>
                </div>
                <div class="form-group col-md-7 no-pad-left no-pad-right">
                  <%= f.select :country,
                               options_for_select(@countries.collect {|c| [ c['name'], c['short_name'] ]}, 'PH'),
                               {:include_blank => false},
                               {:class => 'form-control'}
                  %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3 no-pad-right">
                  <%= f.submit "Pay Now", class: 'pay-by-card-btn'%>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="form-group">
            <div class="checkbox pad-left-15">
              <h4>Pay By Bank Deposit</h4>
            </div>
          </div>
        </div>
        <div class="row pad-left-15">
          Please deposit your payment at one of the following bank accounts:
        </div>
        <div class="row pad-left-15 margin-top-15">
          - BPI, CartStash Inc, Bank Acct #: 071-8888888, Paseo de Roxas Branch
        </div>
        <div class="row pad-left-15 margin-top-15">
          - BDO, CartStash Inc, Bank Acct #: 088-8888888, SM Delgado, Iloilo Branch
        </div>
        <div class="row pad-left-15 margin-top-15">
          After making your deposit, please send us the receipt number through SMS at +63 917 CRTSTSH or +63 917 1676763
          or through email at membership@cartstash.com and we will send your membership confirmation through your email.
        </div>
        <div class="row">
          <div class="col-md-10">
          </div>
          <div class="col-md-2 no-pad-right margin-top-15">
            <%= button_to "Complete", {action: "bank_deposit"}, {method: "post", class: "pay-by-card-btn"} %>
          </div>
        </div>
      </div>

</section>