<div class="row reg-header">
  Thank you for choosing to be a member of CartStash. This wizard will guide you through the registration process.
</div>

<div class="row sign-up-forms">
  <div class="col-md-2 col-xs-12">
  </div>
  <div class="col-md-4 col-xs-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'reg-form') do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password', autocomplete: 'off' %>
        </div>
        <div class="form-group">
          <div class="checkbox">
              <label>
              <%= f.check_box :terms_of_service, class: 'checkbox' %>
              <%= link_to 'I agree with the terms and conditions', '#'%>
              </label>
          </div>
         </div>
        <div class="form-group">
          <%= f.submit 'Create Account', class: 'btn' %>
        </div>
    <% end %>
    <%= render 'users/shared/links' %>
  </div>
  <div class="col-md-1 col-xs-12">
    <div class="reg-margin-top centered">- OR -</div>
  </div>
  <div class="col-md-4 col-xs-12 social-signin-btns">
    <div class="social-signin">
      <%= link_to image_tag('images/login-facebook.png', alt:  "Facebook Login"), 'https://www.facebook.com/login' %>
    </div>
    <div class="social-signin">
      <%= link_to image_tag('images/login-twitter.png', alt:  "Twitter Login"), 'https://www.twitter.com/login' %>
    </div>
  </div>
  <div class="col-md-1 col-xs-12">
  </div>
</div>